body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    height: fit-content;
}

h2 {
    color: whitesmoke;
    margin: 10px 10px 0 10px;
    padding: 10px 10px 0 10px;
}

h3 {
    color: whitesmoke;
    margin: 10px 10px 0 10px;
    padding: 10px 10px 0 10px;
}

p {
    line-height: 1.5rem;
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
}

.header {
    max-width: 100%;
    height: fit-content;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    background: linear-gradient(to top right, rgb(52, 50, 50), lightslategrey);
}

/*@media {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
        background: linear-gradient(to top right, rgb(52, 50, 50), lightslategrey);
    }
}*/

header h1 {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-left: 10px;
}

header ul {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    list-style: none;
}

header ul li {
    padding: 1px 2px;
    background: none;
    border-radius: 0.5rem;
}

nav ul li img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    display: block;
}

header ul li a:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

/*.grid-container-1 {
    display: grid;
    justify-content: start;
    align-items: center;
    /*position: relative;
    grid-template-columns: repeat(1, auto-fill);
    /*grid-template-areas:
    "s m";*/
    /*width: 100%;
    gap: 5px;
}*/

/*.grid-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/1328396.png") top left repeat-x;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
}*/

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h2 o"
    "h h";
    gap: 5px;
    margin-bottom: .5em;

}

.h2 {
    grid-area: h2;
    height: 100%;
    background: blueviolet;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.overview {
    grid-area: o;
    height: fit-content;
    background: blue;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.history {
    grid-area: h;
    height: fit-content;
    background: green;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

@media (max-width:980px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 5px;
        margin-bottom: .5em;
    }

    .h2 {
    height: 100%;
    background: blueviolet;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.overview {
    height: fit-content;
    background: blue;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.history {
    height: fit-content;
    background: green;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
}

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    /*grid-template-areas: 
    "front-end back-end full-stack";*/
    height: fit-content;
    gap: 8px;
    margin-bottom: 10px;
}

.front-end {
    background: rgb(36, 35, 35);
    border-radius: 10px;
    /*grid-area: front-end;*/
    height: 100%;
}

.back-end {
    background: rgb(36, 35, 35);
    border-radius: 10px;
    /*grid-area: back-end;*/
    height: 100%;
}

.full-stack {
    background: rgb(36, 35, 35);
    border-radius: 10px;    
    /*grid-area: full-stack;*/
    height: 100%;
}

.grid-image-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*grid-template-rows: 175px 175px;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";*/
    gap: 1em;
}

/*@media(max-width: 960px) {
    .grid-image-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    /*grid-template-rows: 175px 175px;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1em;
    }

    .img-1 {
    height: 100%;
    width: 100%;
    }

  .img-2 {
    height: 100%;
    width: 100%;
    }

  .img-3 {
    height: 100%;
    width: 100%;
    }

  .img-4 {
    height: 100%;
    width: 100%;
    }

  .img-5 {
    height: 100%;
    width: 100%;
    }

    .grid-image-container img:hover {
    transform: scale(1.01);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}*/

.grid-image-container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/*.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

.img-5 {
    grid-area: img-5;
}*/

.grid-image-container img:hover {
    transform: scale(1.01);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer {
    max-width: 100%;
    height: fit-content;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    background: linear-gradient(to top right, rgb(52, 50, 50), lightslategrey);
    height: 3em;
}